*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.layout{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.tam{
    height: 30vh;
}
.ban{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.ctam{
    max-width: 70vw;
}
.imgpv{
    max-width: 100%;
    height: 100%; 
    object-fit: cover;
}

.card-text{
    min-height: 100px;
}

.imgcard{
    min-height: 250px;
    object-fit: cover;
}

.cardTamDetail{
    width: 80%;
    margin: 0 auto;
}

.msj{
    margin-top: 7%;
    font-size: 20px;
    font-weight: bold;
}

.ficon{
    width: 45px;
}

#contenedorDetails{
    height: 80vh;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

table {
    border-collapse: collapse; 
    width: 100%;
    
  }
  
  th, td {
    border: 3px solid black;
    padding: 8px;
    text-align: center;
    
    
  }

  tbody tr:hover {
    border: 5px solid black;
    
    
  }

  .tableM{
    background-color: white;
   

  }
  .expected{
    border: 3px solid black;
    background-color: rgb(67, 64, 64);
    color: white;
  }

  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  .card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

